
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Coloured shared */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color:dark 02
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    color: black;

}
.section-description{
    font-size: smaller;
    font-color: black;
}
/* Header style */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav styles */
nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    margin-top: 50px;
}
.banner-content{
    max-width: 580px;
}
.banner title{
    font size: 85px;
    font width: 700;
    
}
.banner-profile picture{
    width: 580px;
    height: auto;
}
/* Main styles */
main{
    max-width: 1140px;
}
/* About */
.about-items{
    display : flex;
    justify-content: space-between;
    gap: 20px;
    padding: 150px 0px;
    border-radius: 8px;
    flex: 1;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.item-description{
    font-weight: bold;
}
